.faq {
  padding: clamp(5rem, 10vw, 10rem) 0 0;
  &__item {
    padding-bottom: 28px;
    border-bottom: 2px solid rgba(67, 63, 73, 1);
    cursor: pointer;
  }
  &__heading {
    padding-bottom: 2.5rem;
    border-bottom: 2px solid rgba(67, 63, 73, 1);
  }
  &__instruction {
    position: relative;
  }
  &__item-heading {
    @include al-flex;
    justify-content: space-between;

      position: relative;
      svg {
        transform: rotate(-90deg);
      }
  }
  &__inner {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    grid-gap: 28px;
  }
  &__item-heading {
    font-size: clamp(1.125rem, 1.65vw, 1.65rem);
    font-weight: 700;
  }
  &__item-hidden {
    // max-height: 0;
    // opacity: 0;
    transition: all .2s ease-in-out;
    cursor: default;
  }
  &__item-inner {
    padding-top: 28px;
  }
  .hidden-list {
    padding-top: 28px;
    display: grid;
    grid-gap: 1.25rem;
    cursor: default;

    &__item {
      font-size: clamp(1.125rem, 1.25vw, 1.25rem);
      span {
        background: var(--yellow-clr);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      a {
        font-weight: 700;
        position: relative;
        &::after {
          @include psevdo;
          width: 100%;
          height: 2px;
          background-color: var(--white-clr);
          bottom: -5px;
          border-radius: 2px;
        }
      }
    }
  }
}

.bold-span {
  background: transparent !important;
  -webkit-text-fill-color: var(--white-clr) !important;
  font-weight: 700;
  color: var(--white-clr);
}

.collapse {
  max-height: 100%;
  opacity: 1;
}

.arrow-change {
  position: relative;
  transition: .3s ease;
  svg {
    display: none !important;
  }
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 30px;
    background-image: url(../../img/sprite/arrow-down-dark.svg);
    background-repeat: no-repeat;
    right: 0;
    background-size: cover;
    opacity: 1;
    transition: .3s ease-in-out;
  }
}

.hidden-item {
  &__title {
    @include al-flex;
    grid-gap: clamp(1.5rem, 2.0625vw, 2.0625rem);
    font-size: 1.25rem;
    font-weight: 700;
    span {
      background: var(--yellow-clr);
      width: 1.6875rem;
      height: 7px;
    }
  }
}

.instruction {
  position: relative;
  max-width: 68.5rem;
  &__item {
    &:nth-child(5),
    &:nth-child(7) {
      position: relative;
    }
  }
  padding-top: clamp(3rem, 3.75vw, 3.75rem);
  padding-bottom: 16.6875rem;
  &__arrow {
    position: relative;
    height: 20px;
    &::after {
      position: absolute;
      content: '';
      color: #97959B;
      font-size: 15px;
      font-weight: 700;
      top: -2rem;
      left: 3px;
    }
  }
  .first-arrow {
    &::after {
      content: 'deposite';
    }
  }
  .second-arrow {
    &::after {
      content: 'transfer';
    }
  }
  .third-arrow {
    &::after {
      content: 'transfer';
    }
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 11px 26px;
    width: 100%;
    border-radius: 19px;
    font-size: clamp(.75rem, 1vw, 1rem);
    font-weight: 700;
  }
  .light-btn {
    max-width: 15.3125rem;
    width: 100%;
    background-color: #E8B24F;
    border: 1px solid rgba(232, 178, 79, 1);
    color: var(--black-clr);
  }
  .light-gradient {
    background-color: var(--black-clr);
    color: var(--white-clr);
    border: 2px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    /* just to show box-shadow still works fine */
    position: relative;
    &::after {
      position: absolute;
      top: -2px; bottom: -2px;
      left: -2px; right: -2px;
      background: linear-gradient(0deg, #E59A52, #E59A52),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      content: '';
      z-index: -1;
      border-radius: 16px;
    }
  }
  .lighter-gradient {
    background-color: var(--black-clr);
    color: var(--white-clr);
    border: 2px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    /* just to show box-shadow still works fine */
    position: relative;
    &::after {
      position: absolute;
      top: -2px; bottom: -2px;
      left: -2px; right: -2px;
      background: linear-gradient(0deg, #E27957, #E27957),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      content: '';
      z-index: -1;
      border-radius: 16px;
    }
  }
  .most-light-btn {
    background-color: var(--black-clr);
    color: var(--white-clr);
    border: 2px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    /* just to show box-shadow still works fine */
    position: relative;
    &::after {
      position: absolute;
      top: -2px; bottom: -2px;
      left: -2px; right: -2px;
      background:  linear-gradient(0deg, #E0615A, #E0615A),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
      content: '';
      z-index: -1;
      border-radius: 16px;
    }
  }
}

.instruction-list {
  @include al-flex;
  grid-gap: 13px;

}

.hidden-mob-arrow {
  display: none;
}

.btn-filled {
  position: absolute;
  right: 11.9em;
  bottom: min(-10.73rem, -9.6vw);
  background: linear-gradient(266.84deg, #DD475E 3.39%, #E8B24F 76.41%);
  max-width: 9.25rem;
}

.arrow-abs {
  position: absolute;
  top: clamp(4rem, 4.8vw, 4.8rem);
}

._right-arrow {
  position: absolute;
  left: 20%;
}

._left-arrow {
  position: absolute;
  left: 50%;
}


@include max-w(60rem) {
  .instruction-list {
    flex-direction: column;
    grid-gap: 3rem;
  }
  .instruction {
    &__arrow {
      transform: rotate(90deg);
      &::after {
        transform: rotate(-90deg);
        top: -4rem;
        left: 0;
      }
    }
  }
  .btn-filled {
    right: 50%;
    transform: translateX(50%);
    bottom: -9.5rem;
  }
  .hidden-mob-arrow {
    display: block;
  }
  .hidden-arrow {
    &::after {
      content: 'Staible coin transfer';
      transform: rotate(-90deg);
      top: -6rem;
      left: -1rem;
      text-align: center;
      width: 106px;
    }
    &::before {
      color: #97959B;
      font-size: 15px;
      font-weight: 700;
      position: absolute;
      content: 'Hedge Payment';
      transform: rotate(-90deg);
      top: 4.5rem;
      left: -1rem;
      text-align: center;
      width: 106px;
    }
  }

  .arrow-abs {
    display: none;
  }
}

