.media {
  padding: clamp(5rem, 10vw, 10rem) 0;
  &__row {
    animation: fadeEffect 1s;
  }
  &__heading {
    padding-top: 28px;
    @include al-flex;
    justify-content: space-between;
    p {
      max-width: 54.375rem;
      font-size: clamp(1.125rem, 1.375vw, 1.375rem);
    }
  }

  .media-row {
    padding-top: clamp(3.5rem, 5vw, 5rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.625rem, 1fr));
    grid-gap: clamp(3rem, 6vw, 6rem);
    &__item {
      background-color:
      #262429;
      border-radius: 3.5rem;
      border: 1px solid #433F49;
    }
    &__inner {

      display: flex;
      flex-direction: column;
      padding: 2.5rem 2.5rem 1.875rem;
    }
    &__heading {
      font-weight: 700;
      font-size: 1.25rem;
    }
    &__date {
      font-size: 1.125rem;
      color: #97959B;
      padding-top: 30px;
    }
    &__icon {
      margin-top: 3.75rem;
    }
  }
}

.choose-row {
  .choose-list {
    display: flex;
    grid-gap: 9px;
  li {
    cursor: pointer;
  }
  span {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    display: block;
    background-color: var(--white-clr);
  }
  }
}

.active-bullet {
  background-color: #FFC266 !important;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {opacity: 1;
  transform: translateY(0);}
}
