.tools {
  &__inner {
    padding-top: clamp(2.8rem, 3.75vw, 3.75rem);
    display: grid;
    grid-template-columns: 0.57fr .588fr;
    grid-gap: 24px;
    @keyframes fadeEffect {
      from {
        opacity: 0;
        transform: translateY(10%);
      }
      to {opacity: 1;
      transform: translateY(0);}
    }
  }
  &__wrapper {
    padding-top: clamp(1.5rem, 3vw, 3rem);
  }


  &__heading {
    font-size: clamp(1.45rem, 1.625vw, 1.625rem);
    font-weight: 700;
  }
  &__descr {
    min-height: 11.25rem;
    margin-top: 28px;
    p {
      font-size: clamp(1.125rem, 1.25vw, 1.25rem);
    }
  }
  &__subinfo {
    padding-top: 8px;
    display: flex;
    grid-gap: clamp(1.5rem, 2.0625vw, 33px);
    span {
      margin-top: 8px;
      display: block;
      width: 27px;
      height: 7px;
      background: var(--yellow-clr);
    }
    p {
      font-size: clamp(1.125rem, 1.25vw, 1.25rem);
      color: #97959B;
    }
  }
}

.panel {
  &__inner {
    @include al-flex;
    margin-top: 2.5rem;
    justify-content: space-between;
    grid-gap: 2rem;
    flex-wrap: wrap;
    @include max-w(43.75rem) {
      grid-gap: 3rem;
      justify-content: center;
    }
  }
}

@include max-w(51.25rem) {
  .tools {
    &__inner {
      display: flex !important;
      flex-direction: column-reverse;
    }
    &__image {
      width: 100%;
      picture,
      img {
        width: 100%;
      }
    }
  }
}

.panel__btn-row {
  @include al-flex;
  grid-gap: clamp(1.5rem, 2.8125vw, 2.8125rem);
  flex-wrap: wrap;
  justify-content: center;
}

.panel__btn {
  justify-content: center;
  text-align: center;
  @include al-flex;
  grid-gap: 24px;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  padding: 16px 32px 18px 32px;
  border-radius: 28px;
  position: relative;
  color: var(--white-clr);
  outline: 2px solid rgba(67, 63, 73, 1);
  transition: .3s ease-in-out;
  &::after {
    position: relative;
    content:  url('../../img/sprite/arrow-down-black.svg');
    width: 15px;
    height: 17.6px;
    display: none;
    transition: .3s ease-in-out;
  }

}

.active-panel-btn {
  background: var(--yellow-clr);
  color: var(--black-clr) !important;
  outline: none !important;
  svg {
    display: none;
  }
  &::after {
    display: block;
  }
}
